<%= form_for(@unpaid_undergrad_position) do |f| %>
  <% if @unpaid_undergrad_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unpaid_undergrad_position.errors.count, "error") %> prohibited this unpaid_undergrad_position from being saved:</h2>

      <ul>
      <% @unpaid_undergrad_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workPeriod %><br />
    <%= f.text_field :workPeriod %>
  </div>
  <div class="field">
    <%= f.label :weeklyTimeCommitment %><br />
    <%= f.text_field :weeklyTimeCommitment %>
  </div>
  <div class="field">
    <%= f.label :deliverables %><br />
    <%= f.text_area :deliverables %>
  </div>
  <div class="field">
    <%= f.label :desiredSkills %><br />
    <%= f.text_area :desiredSkills %>
  </div>
  <div class="field">
    <%= f.label :desiredClasses %><br />
    <%= f.text_area :desiredClasses %>
  </div>
  <div class="field">
    <%= f.label :recordBegin %><br />
    <%= f.datetime_select :recordBegin %>
  </div>
  <div class="field">
    <%= f.label :recordEnd %><br />
    <%= f.datetime_select :recordEnd %>
  </div>
  <div class="field">
    <%= f.label :minimumGPA %><br />
    <%= f.text_field :minimumGPA %>
  </div>
  <div class="field">
    <%= f.label :academicLevel %><br />
    <%= f.text_field :academicLevel %>
  </div>
  <div class="field">
    <%= f.label :jobDescription %><br />
    <%= f.text_area :jobDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
