<fieldset>
	<div class="field">
		<%= f.label :workPeriod, "Work Period" %><br />
   	<%= f.text_field :workPeriod,:class => 'textField' %>
  <div class="field">
    <%= f.label "Weekly Time Commitment" %><br />
    <%= f.text_field :weeklyTimeCommitment,:class => 'textField' %>
  </div>	
  <div class="field">
    <%= f.label "Desired Skills" %><br />
    <%= f.text_area :desiredSkills, :class => 'textArea' %>
  </div>
  <div class="field">
    <%= f.label "Desired Classes" %><br />
    <%= f.text_area :desiredClasses,:class => 'textArea' %>
  </div>
  <div class="field">
    <%= f.label "When Should this opening be Posted?" %><br />
    <%= f.date_select :recordBegin %>
  </div>
  <div class="field">
    <%= f.label "When is the posting deadline?" %><br />
    <%= f.date_select :recordEnd%>
  </div>
  <div class="field">
    <%= f.label "Minimum GPA" %><br />
    <%= f.text_field :minimumGPA,:class => 'textField' %>
  </div>
  <div class="field">
    <%= f.label "Desired Academic Standing" %><br />
    <%= f.text_field :academicLevel,:class => 'textField' %>
  </div>
  <div class="field">
    <%= f.label "General Job Description" %><br />
    <%= f.text_area :jobDescription,:class => 'textArea' %>
  </div>
</fieldset>
  	  	
