<h1>Search for Available Research Positions</h1>

	<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.label :department_cont, "Department" %><br />	
		<%= f.select :department_cont, options_from_collection_for_select(Department.all, "name", "name"), :style => "width:100px;", :include_blank => "All Departments" , :selected => nil %>
		<!-- <%= f.text_field :projectTitle_cont %> -->
	</div>
	<div class="actions">
	<%= f.submit "Search" %>
	</div>
<% end %>
<% if @searched %>
	<h2><%= @searched %> Department Search</h2>
<% end %>
<hr>
<% if @project_surveys.length != 0 %>

	<% @project_surveys.each do |project_survey| %>

				
				<b>Projecttitle:</b>
				<%= project_survey.projectTitle %>
			</p>

			<p>
				<b>Researcharea:</b>
				<%= project_survey.researchArea %>
			</p>

			<p>
				<b>Projectdescription:</b>
				<%= project_survey.projectDescription %>
			</p>
				<p>
				<b>Unpaid Undergrads?</b>
				<%= project_survey.unpaid_undergrads_needed %>
			</p>
			<hr>

	<% end %>

<% else %>
		<h5>There are currently no ungdergraduate research positions in this department. </h5>
		<hr>
<% end %>

<br />

<%= link_to 'New Project survey', new_project_survey_path %>
